---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';
import Footer from '@components/Footer.astro';
import LogoAgrocybernetyka from '@components/assets/LogoAgrocybernetyka.astro';
import Container from '@layouts/elements/Container.astro';
---

<Layout title="Agrocybernetics initiative | agrocybernetyka.pl">
    <div class="flex min-h-screen flex-col">
        <div class="grow bg-lightgreen py-16 font-mono uppercase text-white sm:flex sm:flex-col sm:justify-around sm:py-24">
            <Container>
                <a class="mb-8 inline-block w-64 pb-8 xxs:w-72 xs:w-96" href="/">
                    <LogoAgrocybernetyka />
                </a>
            </Container>
            <Container>
                <p class="mb-8">
                    Agrocybernetics is an initiative that uses sustainable digital technologies to develop and innovate food production and consumption.
                </p>
                <p class="mb-8">
                    Our vision is to harmoniously integrate technology with nature. In doing so, we hope to change the current approach to agriculture, which we
                    believe would benefit the planet and its inhabitants.
                </p>
                <p>
                    We value a systemic and multi-layered approach: starting with establishment of home micro-gardens, through food system analyses and beyond.
                </p>
            </Container>
        </div>
        <div class="bg-white py-8 font-mono uppercase text-black">
            <Container>
                <Central>
                    <p class="mb-8 max-w-md">
                        Join our newsletter and stay up to date with our progress. <br />
                        Currently available only in Polish.
                    </p>
                    <form name="mailing" method="POST" data-netlify="true" action="/zapisano-do-newslettera">
                        <label>
                            <input class="min-w-60 border border-green" name="mail" type="email" required placeholder="e-mail address" />
                        </label>
                        <div class="block sm:inline-block">
                            <button
                                type="submit"
                                class="mt-2 inline-block min-w-32 border border-green bg-lightgreen px-4 py-2 font-mono uppercase text-white hover:bg-green sm:ml-2 sm:mt-0"
                            >
                                Sign up
                            </button>
                        </div>
                    </form>
                </Central>
            </Container>
        </div>
        <Footer privacyPolicyLabel="Privacy policy (PL)" />
    </div>
</Layout>
