---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';
---

<Layout title="Agrocybernetyka">
    <div class="h-screen font-mono ">
        <Central>
            agrocybernetyka.pl (alpha)
        </Central>
    </div>
</Layout>
