---
import Container from '@layouts/elements/Container.astro';
import MailLink from '@components/MailLink.astro';
import PoweredByGrupaRobocza from '@components/assets/PoweredByGrupaRobocza.astro';
import Link from '@components/Link.astro';

interface Props {
    privacyPolicyLabel: string;
}

const { privacyPolicyLabel } = Astro.props;
---

<footer class="bg-lightgreen py-4 font-mono text-white">
    <Container>
        <div class="my-4 flex w-full flex-col sm:flex-row sm:justify-between">
            <div>
                <p class="mb-4">
                    <Link url="/polityka-prywatnosci.pdf" text={privacyPolicyLabel} />
                </p>
                <p>
                    <MailLink email="sekretariat@agrocybernetyka.pl" />
                </p>
            </div>
            <div>
                <a class="mt-4 block w-40 sm:mt-0" href="https://grupa.robocza.org">
                    <PoweredByGrupaRobocza />
                </a>
            </div>
        </div>
    </Container>
</footer>
