---
import Container from '@layouts/elements/Container.astro';
import MailLink from '@components/MailLink.astro';
import PoweredByGrupaRobocza from './assets/PoweredByGrupaRobocza.astro';
---

<footer class="mt-4 bg-green py-4 font-mono text-white">
    <Container>
        <div class="my-4 flex w-full flex-col sm:flex-row sm:justify-between">
            <div>
                <p class="text-l">
                    <MailLink email="sekretariat@agrocybernetyka.pl" />
                </p>
            </div>
            <div>
                <a class="mt-4 block w-40 sm:mt-0" href="https://grupa.robocza.org">
                    <PoweredByGrupaRobocza />
                </a>
            </div>
        </div>
    </Container>
</footer>
