<div id="mlb2-14371045" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-14371045">
    <form name="mailing" method="POST" action="https://assets.mailerlite.com/jsonp/836050/forms/119795271996540186/subscribe" data-code="">
        <label>
            <input data-inputmask="" class="min-w-60 border border-green" name="fields[email]" type="email" required placeholder="adres e-mail" autocomplete="email" />
        </label>
        <div class="block sm:inline-block">
            <button
                    type="submit"
                    class="mt-2 inline-block min-w-32 border border-green bg-lightgreen px-4 py-2 font-mono uppercase text-white hover:bg-green sm:ml-2 sm:mt-0"
            >
                Zapisz się
            </button>
        </div>
        <input type="hidden" name="ml-submit" value="1">
        <input type="hidden" name="anticsrf" value="true">
    </form>
</div>
<script>
    function ml_webform_success_14371045() {
        try {
            window.top.location.href = 'https://agrocybernetyka.pl/zapisano-do-newslettera/';
        } catch (e) {
            window.location.href = 'https://agrocybernetyka.pl/zapisano-do-newslettera/';
        }
    }
</script>

<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127" type="text/javascript"></script>
<script>
    fetch("https://assets.mailerlite.com/jsonp/836050/forms/119795271996540186/takel")
</script>
