---
import Link from '@components/Link.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

import Config from '../../astro.config.mjs';

export interface Props {
    title: string;
    language: string;
}

const { title } = Astro.props;
const language = Astro.currentLocale;

const localeSwitcherUrls = Config.i18n.locales
    .filter((locale) => locale !== language)
    .map((locale) => {
        return {
            locale: locale,
            url: getRelativeLocaleUrl(locale),
        };
    });
---

<!doctype html>
<html lang="pl" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <style is:global>
            @font-face {
                font-family: 'GT America Mono';
                src: url('/fonts/GT-America-Mono-Regular.woff2') format('woff2');
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }
        </style>
        <!-- MailerLite Universal -->
        <script is:inline>
            (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
                .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
                n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
            (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
            ml('account', '836050');
        </script>
        <!-- End MailerLite Universal -->
    </head>
    <body class="relative w-full min-w-[320px]">
        <nav class="absolute right-0 top-0 m-2">
            {localeSwitcherUrls.map((localeUrl) => <Link url={localeUrl.url} text={localeUrl.locale} className="text-white uppercase hover:underline" />)}
        </nav>
        <slot />
    </body>
</html>
